* {
  /* padding: 10px; */
}

#nav {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.active {
  border: .1rem solid black;
  background-color: #dff0d8;
}

h1 {
  color: blue;
}

.row {
}

.col, [class*="col-"] {
}

.title {
  text-align: left;
  /* margin: auto; */
}

.jumbotron-fluid {
  border: .1rem solid black;
}

#myJumbotron1 {
  border-radius: 1rem;
  background-color: #dff0d8;
}

#myJumbotron2 {
  border-radius: 1rem;
  background-color: #dff0d8;
}

.card {
  width: 100%;
  height: 25rem;
  border: .1rem solid black;
  padding: 3rem;
  margin-bottom: 2rem;
  border-radius: 1rem;

}

.save {
position: absolute;
bottom: 5rem;
}

.disabled {
  background-color: grey;
}
